import 'comand-ui-kit/dist/comand-ui-kit.css'

/* >>> BEGIN FORMS + FORM-ELEMENTS */
.fieldset {
  &#accept_terms {
    margin-top: var(--default-margin);
  }
}

input[type="search"] + button {
  border-radius: 0;
}
/* <<< END FORMS + FORM-ELEMENTS */

/* begin flags --------------------------------------------------------------------------------------------------------------------------------------------------- */
.flag {
  width: 3rem;
  height: 2rem;
  background-size: 100% 100%;
  display: block;
  margin: 0 calc(var(--default-margin) / 2) 0 0;
}
/* end flags --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* >>> BEGIN TABLES */
.table-wrapper {
  border: 0;
}

table {
  th {
    text-align: center;
  }

  th, td {
    padding: calc(var(--default-padding) / 2);

    &.text-align-center {
      text-align: center;
    }

    input {
      border-radius: 0;
    }
  }
}

.table-wrapper {
  margin-bottom: var(--default-margin);

  table {
    margin-bottom: 0;
  }
}
/* <<< END TABLES */

/* >>> BEGIN BOX-ADD-DATA (i.e. for license info) */
.box.add-data {
  border-style: dashed;
  border-color: var(--primary-color);


  &:hover, &:active, &:focus {
    border-style: solid;
    background: var(--primary-color);

    h3, [class*='icon-'] {
      color: var(--pure-white);
    }

    label {
      span {
        color: var(--pure-white);
      }
    }
  }

  label {
    span {
      color: var(--text-color);
    }

    select {
      color: var(--text-color);
    }
  }
}
/* <<< END BOX-ADD-DATA (i.e. for license info) */

/* >>> BEGIN ACCORDION */
.accordion {
  border: var(--default-border);

  header {
    background: var(--default-background-color);
    border-bottom: var(--default-border);

    > a {
      &:first-child {
        h3 {
          &:hover, &:active, &:focus {
            color: var(--secondary-color);
          }
        }
      }
    }
  }
}
/* <<< END ACCORDION */

/* >>> BEGIN PAGE: NEW APPLICATION */
#new-application {
  .box {
    header {
      [class*='icon'] {
        color: var(--pure-white);
        border-radius: var(--full-circle);
        border: .2rem solid var(--pure-white);
        background: var(--secondary-color);
        font-size: 4rem;
      }

      h2 {
        color: var(--secondary-color);
      }
    }

    ul {
      li {
        background: var(--secondary-color);
        border: var(--default-border);
        border-color: var(--secondary-color);

        &:not(:first-child) {
          border-left-color: var(--pure-white);
        }

        a {
          span {
            text-align: center;
            color: var(--pure-white);

            &[class*='icon'] {
              font-size: 3rem;
            }
          }
        }

        &:hover, &:active, &:focus {
          background: var(--pure-white);

          & + li {
            border-left-color: var(--secondary-color);
          }

          a {
            span {
              color: var(--secondary-color);
            }
          }
        }
      }
    }
  }
}
/* <<< END PAGE: NEW APPLICATION */

/* >>> BEGIN PAGE: SPECTRUM DATA IMPORT */
#data-import {
  a {
    span {
      text-align: center;
      color: var(--secondary-color);

      &[class*='icon'] {
        font-size: 3rem;
      }
    }
  }
}
/* <<< END PAGE:SPECTRUM DATA IMPORT */

/* >>> BEGIN PAGE: DASHBOARD */
.dashboard {
  .box {
    &:not(.add-data) {
      .box_body {
        background: var(--pure-white);

        div.number {
          > div:first-child {
            text-align: center;
            font-size: 4rem;
          }
        }

        .slider {
          > div {
            text-align: center;

            div {
              font-size: 2.5rem;
            }

            > ol {
              li {
                a {
                  border-radius: var(--full-circle);
                  background: var(--secondary-color);
                  opacity: .5;
                }

                &.active {
                  a {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .range-slider-steps {
    span {
      text-align: center;

      &.active {
        color: var(--secondary-color);
      }
    }
  }
}
/* <<< END PAGE: DASHBOARD */

/* >>> BEGIN PAGE: SERVICE CHECK */
#service-check {
  .box {
    header {
      .checked {
        color: green;
      }
    }
  }
}
/* <<< END PAGE: SERVICE CHECK */

.subpage-wrapper {
  &.grid-container-create-columns {
    #subpage-navigation {
      grid-column: span var(--grid-small-span);

      + * {
        grid-column: span var(--grid-large-span);
        border: 0;

        .application-actions {
          flex-direction: row;

          > .button:first-of-type {
            margin: 0;
          }
        }
      }
    }
  }

  #other-actions {
    grid-column: span var(--grid-columns);
  }

  @media only screen and (max-width: $medium-max-width) {
    #subpage-navigation {
      &, & + .table_wrapper {
        grid-column: span var(--grid-columns);
      }
    }
  }
}

#theme-lstelcom {
  a {
    background: rgb(0, 92, 115) !important;
    color: rgba(255, 255, 255, 0.5) !important;
  }

  &:hover, &:active, &:focus {

    a {
      background: rgb(255, 255, 255) !important;
      color: rgb(0, 92, 115) !important;
    }
  }
}

#theme-trc-jordan {
  a {
    background: rgb(132, 16, 0) !important;
    color: rgba(255, 255, 255, 1) !important;
  }

  &:hover, &:active, &:focus {
    a {
      background: rgb(255, 255, 255) !important;
      color: rgb(132, 16, 0) !important;
    }
  }
}

#theme-anfr {
  a {
    background: rgb(0, 122, 188) !important;
    color: rgba(255, 255, 255, 1) !important;
  }

  &:hover, &:active, &:focus {
    a {
      background: rgb(255, 255, 255) !important;
      color: rgb(0, 122, 188) !important;
    }
  }
}

