@import "comand-component-library/src/assets/styles/variables.scss";
/* begin table of contents --------------------------------------------------------------------------------------------------------------------------------------------------- */
/*
- BASIC STRUCTURE ------------------------
	- main structure
	- footer
	- main-headline
*/
/* end table of contents --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------- BEGIN BASIC STRUCTURE -------------------------------------------------- */
/* begin main structure --------------------------------------------------------------------------------------------------------------------------------------------------- */
body, #page-wrapper {
	background: var(--color-scheme-background-color);
}

.section-wrapper {
	&:nth-child(even) {
		background: var(--default-background-color);
	}
}
/* end main structure --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* begin navigation --------------------------------------------------------------------------------------------------------------------------------------------------- */
#navigation-wrapper {
	background: none;

	nav {
		> ul {
			border: 0;

			li {
				border: inherit;

				a {
					font-size: 2rem;
				}

				&:hover, &:active, &:focus {
					background: none;

					a {
						background: none;
						border: 0;

						span, span[class*="icon-"] {
							color: var(--primary-color);
						}
					}
				}
			}
		}
	}
}
/* end navigation  --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* begin main-headline --------------------------------------------------------------------------------------------------------------------------------------------------- */
#main-headline {
	h1 {
		font-size: 5rem;
		text-align: center;
		text-transform: uppercase;
	}
}
/* end main-headline --------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------- END BASIC STRUCTURE -------------------------------------------------- */


/* begin hotfix for fancybox-behavior */
body.avoid-scrolling {
	height: 100%;
}

.cmd-fancybox {
	position: fixed;
}
/* end hotfix for fancybox-behavior */

/*
#page-wrapper {
	scroll-padding-top: 162px;
	overflow: auto;
}

.cmd-site-header {
	height: 162px;
}
*/