@import "comand-component-library/src/assets/styles/variables.scss";

/* begin table of contents --------------------------------------------------------------------------------------------------------------------------------------------------- */
/*
- VARIABLES ------------------------

- BASIC STRUCTURE ------------------------
	- page containers
	- css-grid
	- main
	- main-headline

- MEDIA QUERIES ------------------------
  - styles for small screens
  - styles for print only
*/
/* end table of contents --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------- BEGIN VARIABLES -------------------------------------------------- */
html {
	--grid-small-span: 4; /* overwrite framework.css */
	--grid-large-span: 8; /* overwrite framework.css */
	--box-shadow-color: #333; /* overwrite framework.css */
}
/* ---------------------------------------------- END VARIABLES -------------------------------------------------- */

/* ---------------------------------------------- BEGIN BASIC STRUCTURE -------------------------------------------------- */
/* begin page containers --------------------------------------------------------------------------------------------------------------------------------------------------- */
#page-wrapper {
	height: 100%;
}

#outer-wrapper {
	min-height: 100%;
}

#content-wrapper {
	min-width: 0; /* required to avoid grid expand by its children (i.e. thumbnail-scroller) */
}

.cmd-width-limitation-wrapper:not(#main-headline) {
	section {
		padding-top: calc(var(--default-padding) * 6);
		padding-bottom: calc(var(--default-padding) * 6);
	}

	&:nth-child(even) {
		background: var(--default-background-color);
	}
}
/* end page containers --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* begin css-grid --------------------------------------------------------------------------------------------------------------------------------------------------- */
.grid-main-container {
    grid-template-areas:
    	"header-wrapper"
    	"inner-wrapper"
    	"footer-wrapper"
		"copyright-information";
	grid-template-rows:
		min-content
		auto
		min-content
		min-content;
}

.grid-main-item-inner-wrapper {
	grid-area: inner-wrapper;
	display: grid;
}

.grid-main-item-footer-wrapper {
	grid-area: footer-wrapper;
}
/* end css-grid --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* begin main --------------------------------------------------------------------------------------------------------------------------------------------------- */
.grid-item-page-content {
	grid-area: page-content;
}

main {
	ul, ol {
		list-style-position: inside; /* list-style-position for all list in main */
	}
}
/* end main --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* begin main-headline --------------------------------------------------------------------------------------------------------------------------------------------------- */
#main-headline {
	padding: calc(var(--default-padding) * 5) 0;

	h1 {
		margin-bottom: 0;
	}
}
/* end main-headline --------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------- END BASIC STRUCTURE -------------------------------------------------- */

/* ---------------------------------------------- BEGIN MEDIA QUERIES -------------------------------------------------- */
/* begin styles for small screens --------------------------------------------------------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: $small-max-width) {
	#header-wrapper header {
		grid-template-areas:
			"logo logo"
			"navigation box-site-search";
	}

	.grid-item-news-text-wrapper a.link-to-content {
		align-self: center;
	}

    a[href^="tel"] {
        text-decoration: underline;
    }
}
/* end styles for small screens --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* begin styles for print only --------------------------------------------------------------------------------------------------------------------------------------------------- */
@media only print {
    .cmd-site-header, .cmd-main-navigation, .cmd-slideshow, .button, .cmd-back-to-top-button, .cmd-site-footer, .cmd-copyright-information {
        display: none !important;
    }

    #content {
        width: 180mm;
    }
	
	body, .section-wrapper {
		background: none !important;
	}
}
/* end styles for print only --------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------- END MEDIA QUERIES -------------------------------------------------- */
